- name: Compute VM Creation
  hosts: homelab
  gather_facts: no
  vars:
    gcs_sa: "{{ lookup('env', 'SERVICE_ACCOUNT') }}"
  
  vars_files:
    - /home/lostinopensrc/ansible-gcp-ninja/_work/ansible-gcp-ninja/ansible-gcp-ninja/group_vars/compute-engine/vars.yaml
  
  tasks:        
    - name: create a instance
      loop: "{{ vms }}"
      google.cloud.gcp_compute_instance:
        name: "{{ item.name }}"
        machine_type: "{{ item.machine_type }}"
        disks:
        - auto_delete: "{{ item.isAutoDelete }}"
          boot: "{{ item.isBoot }}"
          source: "{{ item.source.disk }}"
          mode: "{{ item.mode }}"
        labels: "{{ item.labels.tags }}"
        network_interfaces:
        - network: "{{ item.network.name }}"
          access_configs:
          - name: "External NAT"
            type: "ONE_TO_ONE_NAT"
            network_tier: "STANDARD"
          subnetwork: "{{ item.subnetwork.name }}"
        zone: "{{ item.zone }}"
        project: cogent-tide-366115
        auth_kind: serviceaccount
        service_account_contents: "{{ gcs_sa }}"        
        state: present