- name: VPC Creation
  hosts: homelab
  gather_facts: no
  vars:
    gcs_sa: "{{ lookup('env', 'SERVICE_ACCOUNT') }}"
  
  vars_files:
    - /home/lostinopensrc/ansible-gcp-ninja/_work/ansible-gcp-ninja/ansible-gcp-ninja/group_vars/vpc/vars.yaml
  
  tasks:
    - name: create a network
      google.cloud.gcp_compute_network:
        name: "{{ item }}"
        auto_create_subnetworks: 'false'
        project: cogent-tide-366115
        auth_kind: serviceaccount
        service_account_contents: "{{ gcs_sa }}"
        state: present
      register: network
      loop: "{{ vpc_name }}"

    - name : Debug network
      debug:
        var: network
    
    # - name: create sub-networks
    #   google.cloud.gcp_compute_subnetwork:
    #     name: "{{ item.key }}"
    #     ip_cidr_range: "{{ item.value.ip_cidr_range }}"
    #     region: "{{ item.value.region }}"
    #     network: "{{ network }}"
    #     project: cogent-tide-366115
    #     auth_kind: serviceaccount
    #     service_account_contents: "{{ gcs_sa }}"
    #     state: present
    #   loop: "{{ networks | dict2items }}"