- name: VPC Creation
  hosts: homelab
  gather_facts: no
  vars:
    gcs_sa: "{{ lookup('env', 'SERVICE_ACCOUNT') }}"
  
  vars_files:
    - /home/lostinopensrc/ansible-gcp-ninja/_work/ansible-gcp-ninja/ansible-gcp-ninja/group_vars/vpc/vars.yaml
  
  tasks:
    - name: create a network
      loop: "{{ vpc_name }}"
      google.cloud.gcp_compute_network:
        name: "{{ item }}"
        auto_create_subnetworks: 'false'
        project: cogent-tide-366115
        auth_kind: serviceaccount
        service_account_contents: "{{ gcs_sa }}"
        state: present
      register: network

    - name : Debug network
      debug:
        var: network
    
    - name: create sub-networks
      google.cloud.gcp_compute_subnetwork:
        network: "{{ item.key.selfLink }}"
        name: "{{ item.key }}"
        ip_cidr_range: "{{ item.key.cidr }}"
        region: "{{ item.key.region }}"
        project: cogent-tide-366115
        auth_kind: serviceaccount
        service_account_contents: "{{ gcs_sa }}"
        state: present
      loop: "{{ networks | dict2items }}"