- name: VPC Creation
  hosts: homelab
  gather_facts: no
  tasks:
    - name: Debug service account key
      debug:
        var: service_account_key | b64decode

    - name: create a network
      google.cloud.gcp_compute_network:
        name: homelab-vpc01
        auto_create_subnetworks: 'false'
        project: cogent-tide-366115
        auth_kind: serviceaccount
        service_account_contents: "{{ service_account_key | b64decode }}"
        state: present