sql:
  - name: "homelab-pg01"
    connection_name: "homelab-pg01"
    backend_type: 
      SECOND_GEN: PostgreSQL
    database_version: "POSTGRES_12_11"
    max_disk_size: 10737418240
    region: asia-south2
    settings:
      availability_type: "REGIONAL"
      backup_configuration:
        binary_log_enabled: true
        enabled: true
      ip_configuration:
        authorized_networks:
        - name: google dns server
          value:  8.8.8.8/32
        ipv4_enabled: true
      tier: db-g1-small