name: Compute VM creation

on:
  workflow_dispatch:

  pull_request:
    branches:
      - 'main'
    paths:
      - 'playbooks/compute-engine/vms.yaml'

env:
  SERVICE_ACCOUNT: ${{ secrets.GCP_SA_TOKEN }}
      
jobs:
  vms:
    runs-on: ansible-gcp-ninja

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run Compute VM Creation Playbook
      run: |
        ansible-playbook playbooks/compute-engine/vms.yaml -i inventory/homelab