name: Install Pre-requistes

on:
  workflow_dispatch:

  pull_request:
    branches:
      - 'main'
    paths:
      - 'playbooks/gcp-prerequisites.yaml'
      
jobs:
  install:
    runs-on: ansible-gcp-ninja

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Run User Creation Playbook
      run: |
        ansible-playbook playbooks/gcp-prerequisites.yaml -i inventory/homelab -v