name: VPC creation

on:
  workflow_dispatch:

  pull_request:
    branches:
      - 'main'
    paths:
      - 'playbooks/vpc.yaml'

env:
  SERVICE_ACCOUNT: $ {{ secrets.GCP_SA_TOKEN }}
      
jobs:
  vpc:
    runs-on: ansible-gcp-ninja

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install  google.cloud Collections
      run: |
        ansible-galaxy collection install google.cloud 

    - name: Run VPC Creation Playbook
      run: |
        ansible-playbook playbooks/vpc.yaml -i inventory/homelab --extra-vars service_account_key=$SERVICE_ACCOUNT  -v